%table.table.table-hovered
  %thead
    %tr
      %th Date of Transaction
      %th Transaction Type
      %th Amount
  %tbody
    - bank_account.account_transactions.each do |t|
      %tr
        %td #{time_ago_in_words(t.created_at)}
        %td #{t.transaction_type}
        %td #{number_to_currency(t.amount, unit: "P")}
    %tr
      %th
      %th Balance
      %th #{number_to_currency(bank_account.balance, unit: "P")}
