%h2 Bank Accounts 

%table.table.table-hovered
  %thead
    %tr
      %th Account Number
      %th Balance
      %th Actions
  %tbody
    - @bank_accounts.each do |account|
      %tr
        %td #{account.account_no}
        %td #{number_to_currency(account.balance, unit: "P")}
        %td
          = link_to bank_account_path(account), class: "btn btn-primary" do
            Show
